body {
	background-color: #041835;
	font-family: 'Montserrat', sans-serif;
}
nav {
	background-color: #a9d2e9;
	color: #041835;
}
.orange{
	color: #F59C69; 
}
h1{
	font-weight: bold;
	font-size: 30;
	text-align: center;
}
.form-group{
	margin-left: 10%;
	font-size: 12;
	color: white;
}
.form-control{
	width: 80%;
}
.btn-primary{
	margin-left: 10%;
	background-color: #F59C69;
	border: none;
}