body {
	background-color: #041835;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
nav {
	background-color: #a9d2e9;
	color: #041835;
}
.orange {
	color: #ffb05f;
}

h1 {
	color: #ffb05f;
}

p {
	color: #a9d2e9;
}

.tableHead{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
}

.tableBody{
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.btn-20 {
	width: 20vw;
}
 
.mt-5 {
	margin-top: 5vh !important;
}

.mt-10 {
	margin-top: 10vh !important;
}

.mt-20 {
	margin-top: 20vh !important;
}

.mb-5 {
	margin-bottom: 5vh !important;
}

.mb-10 {
	margin-bottom: 10vh !important;
}

.mb-20 {
	margin-bottom: 20vh !important;
}
  
.logo-sm {
	width: 16px;
	height: 16px;
}

hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #a9d2e9;
	/* -moz-use-text-color messes it up but removal might affect compatibility */
	/* border-color: #500000 -moz-use-text-color #500000; */
	border-style: solid none;
	border-width: 1px 0;
	margin: 16px 0;
}

.meetupBlock {
	 margin: auto;
	 width: 50%;
	 padding: 10px;
}